@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Monserrat', sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 80px;
    background-color: #3b3b3d;
    font-family: 'Lato', sans-serif;
    box-shadow: 1px 1px 12px black;
}


.name{
    color: #d2d1d6;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.menu{
    display: flex;
    color: white;
    justify-content: space-around;
    width: 25%;
}
.menu li{
    list-style: none;
}
.menu a{
    text-decoration: none;
    color: white;
    
}

.menu li a:hover{
    color: black;
    transition: 0.5s;
    cursor: pointer;

}
.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 5px;
}

.semi_bold{
    font-weight: 500;
    font-size: 16px;
}
body {
    background: #585c68;
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
  }
  
  .bold {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
  }
  
  .semi-bold {
    font-weight: 500;
    font-size: 16px;
  }
  
  .resume {
    width: 800px;
    height: auto;
    display: flex;
    margin: 50px ;
  }

  .resume_left {
    width: 500px;
    background: #3b3b3b;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 500px;
    font-size: 30px;
  }

 
      


  }

    
  }
  

  