@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Monserrat', sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 80px;
    background-color: #3b3b3d;
    font-family: 'Lato', sans-serif;
    box-shadow: 1px 1px 12px black;
}


.name{
    color: #d2d1d6;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.menu{
    display: flex;
    color: white;
    justify-content: space-around;
    width: 25%;
}
.menu li{
    list-style: none;
}
.menu a{
    text-decoration: none;
    color: white;
    
}

.menu li a:hover{
    color: black;
    transition: 0.5s;
    cursor: pointer;

}
.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 5px;
}

.semi_bold{
    font-weight: 500;
    font-size: 16px;
}
body {
    background: #585c68;
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
  }
  
  .bold {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
  }
  
  .semi-bold {
    font-weight: 500;
    font-size: 16px;
  }
  
  .hero-image{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/city.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image .hero-text{
    color:white;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.hero-text h1{
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 10px;

}

.hero-text p{
    padding: 10px;
    font-size: 18px;  
    letter-spacing: 5px; 
}

.hero-btn{
    color: white;
    border-radius: 50px;
    background-color: #3b3b3d;
    text-decoration: none;
    padding: 10px 30px;
    line-height: 90px;
    margin-top:30px;
    text-transform: uppercase;
}

.hero-btn:hover{
    color: #000;
    background-color: white;
}

.container{
    margin: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#about{
    text-align: center;
}

#education, #contact{
    background-color: #3b3b3d;
    text-align: center;
    margin-top: 20px;
}

.title{
    padding-top: 20px;
    text-align: center;
}

.title h3{
    font-size: 25px;
    margin-bottom: 15px;
}

.deskripsi-about{
    display: flex;
}

.left{
    width: 50%;
}

.right{
    width: 50%;
    margin: auto;
}

.deskripsi-about img{
    padding: 30px;
    align-items: center;
    width: 350px;
    border-radius: 50%;   
}

.deskripsi-about .about-text{
    justify-content: center;
    align-items: center;
}

.deskripsi-about p{
    font-size: 16px;
    padding: 5px;
    text-align: justify;  
    
}

.deskripsi-experience{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 30px;
    color: black;
}

.des-item h4{
    font-size: 16px;
    padding: 5px;
}

.des-item p{
    font-size: 16px;
    padding: 5px;
}

.card{
    text-align: center;
    width: 500px;
    border-radius: 5px;
    justify-content: space-around;
    padding: 20px;
    margin: 5px;
    box-shadow: 0 2px 8px -2px rgba(0,0,0,.2);
    background-color: white;
}

.skills p{
    margin-bottom: 10px;
    margin-top: 10px;
}

.skill-item{
    width: 100%;
    background-color: #ddd;
}

.skill{
    text-align: right;
    padding-top: 5px;
    padding-bottom: 10px;
    color: white; 
}

.html {width: 70%; background-color: #3b3b3d;}
.css {width: 30%; background-color:#3b3b3d;}
.js {width: 30%; background-color: #3b3b3d;}
.php {width: 40%; background-color:#3b3b3d;}
.bs {width: 50%; background-color: #3b3b3d;}





.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgba(66, 66, 61, 0.8);
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

.projek-item:hover .overlay{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.overlay-text{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay-text a{
    text-decoration: none;
    color: #fff;
}

.overlay-text:visited a{
    color: #fff;
}

.contact{
    margin-bottom: 20px;
}

.contact-text p{
    font-size: 16px;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
}


footer{
    text-align: center;
    background-color: #252c36;
    color: white;
    padding: 20px;
}

footer .fa{
    font-size: 30px; 
    padding: 10px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: white;
}

footer .fa-facebook:hover{
    background:#3B5998;
}

footer .fa-instagram:hover{
    background-color: #125688;
}

footer .fa-linkedin:hover{
    background-color: #007bb5;
} 

footer .fa-github:hover{
    background-color: #333;
} 

.sosial-media li{
    display: inline;
    list-style-type: none;
    justify-content: center;
    padding: 10px;
}


.sosial-media li a{
    text-decoration: none;
}


.copyright{
    font-family: 'Lato', sans-serif;
    margin-top: 20px;
}


@media screen and (max-width:1024px){
    .menu{
        width: 60%;
    }
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
   .menu{
       position: absolute;
       right: 0px;
       height: 500px;
       top: 55px;
       background-color:#968c83 ;
       flex-direction: column;
       align-items: center;
       width: 50%;
       transform: translateX(100%);
       transition: transform 0.5s ease-in;
   }

   .burger{
       display: block;
   }
   .deskripsi-about{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 10px;
   }

   .left, .right{
       width: 100%;
   }

   .deskripsi-about img{
       width: 100%;
       padding: 20px;
       align-items: center;
   }

   .about-text p{
       text-align: left;
   }
}

.menu-active{
    transform: translateX(0%);
}


  
 